<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="icon" type="images/x-icon" href="/img/isotipo con fondo.png"/>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    
    <!-- Montserrat Font Family -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
    <!-- Propietary CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/admin/admin_actions.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
    <!-- Propietary Scripts -->
    <script src="/scripts/tab.js" defer></script>
    <script src="/scripts/admin_generalsearch.js" defer></script>
</head>
<body class="montserrat-rg">
    <div class="d-flex">
        <a href="/admin" class="btn-back mt-3 ms-2 montserrat-rg"><i class="fa fa-chevron-left p-2"></i>Atr치s</a>
        <img src="/img/logotipo-1.png" class="mx-auto my-5 p-3 ivory-logo" alt="Ivory Homes">
    </div>

    <div class="tab d-flex mx-auto justify-content-evenly">
        <button id="<%= tab1 %>" class="tablinks flex-fill" onclick="openTab(event, 'users')">Usuarios</button>
        <button id="<%= tab2 %>" class="tablinks flex-fill" onclick="openTab(event, 'admins')">Administraci칩n</button>
    </div>
  
    <div id="users" class="tabcontent container pt-3">
        <% if(!user_history) { %>
            <form action="/admin/history/users" method="post">
                <div class="row my-3 mx-auto">
                    <span class="form-label h5">Buscar por Apartamento:</span>
                    <div class="search-box">
                        <div class="d-flex">
                            <input id="search_apt" class="col form-control" type="search" placeholder="Buscar.." name="apartment">
                            <div class="col btn-search"><i class="fa fa-search"></i></div>
                        </div>
                    </div>
                    <div class="result-box" result-box-apt>
                    </div>
                </div>
                <div class="row my-3 mx-auto">
                    <span class="form-label h5">Buscar por Fecha:</span>
                    <input type="date" class="col form-control form-date" min="2024-06-13" name="date">
                    <p class="mt-2 mb-0">Si desea traer toda la tabla solo presione "Buscar"</p>
                </div>
                <div class="row pt-2 pb-4">
                    <button type="submit" class="col-6 btn mx-auto">Buscar</button>
                </div>
                <% if (msg_user) { %>
                    <div class="alert alert-warning" role="alert">
                        No se encontraron coincidencias!
                    </div>
                <% } %>
            </form>
        <% } else { %>
            <div class="scrollable-table">
                <table class="my-table">
                    <thead>
                        <tr>
                            <th scope="col">Apartamento</th>
                            <th scope="col">Llavero</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Acci칩n</th>
                            <th scope="col">Ubicaci칩n</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let row = 0; row < user_history.length; row++) { %>
                            <tr>
                                <td><%= user_history[row].apartment %></td>
                                <td><%= user_history[row].keyset %></td>
                                <td><%= user_history[row].user %></td>
                                <td><%= user_history[row].action %></td>
                                <td><%= user_history[row].location %></td>
                                <td><%= user_history[row].moveDate %></td>
                            </tr>
                        <% } %>    
                    </tbody>
                </table>
            </div>
            <div class="row pt-2 mt-3">
                <a href="/admin/history" class="col-6 btn mx-auto">Buscar de Nuevo</a>
            </div>
        <% } %>
    </div>
  
    <div id="admins" class="tabcontent container pt-3">
        <% if(!admin_history) { %>
            <form action="/admin/history/admins" method="post">
                <div class="row my-3 mx-auto">
                    <span class="form-label h5">Buscar por Usuario:</span>
                    <div class="search-box">
                        <div class="d-flex">
                            <input id="search_usr" class="col form-control" type="search" placeholder="Buscar.." name="user">
                            <div class="col btn-search"><i class="fa fa-search"></i></div>
                        </div>
                    </div>
                    <div class="result-box" result-box-usr>
                    </div>
                </div>
                <div class="row my-3 mx-auto">
                    <span class="form-label h5">Buscar por Fecha:</span>
                    <input type="date" class="col form-control form-date" min="2024-06-13" name="date">
                    <p class="mt-2 mb-0">Si desea traer toda la tabla solo presione "Buscar"</p>
                </div>
                <div class="row pt-2 pb-4">
                    <button type="submit" class="col-6 btn mx-auto">Buscar</button>
                </div>
                <% if (msg_admin) { %>
                    <div class="alert alert-warning" role="alert">
                        No se encontraron coincidencias!
                    </div>
                <% } %>
            </form>
        <% } else { %>
            <div class="scrollable-table">
                <table class="my-table">
                    <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Accion</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(let row = 0; row < admin_history.length; row++) { %>
                            <tr>
                                <td><%= admin_history[row].user %></td>
                                <td><%= admin_history[row].description %></td>
                                <td><%= admin_history[row].actionDate %></td>
                            </tr>
                        <% } %>    
                    </tbody>
                </table>
            </div>
            <div class="row pt-2 mt-3">
                <a href="/admin/history/admins" class="col-6 btn mx-auto">Buscar de Nuevo</a>
            </div>
        <% } %>
    </div>
    
    <div id="apt" data-apt="<%= apartments %>"></div>
    <div id="usr" data-usr="<%= users %>"></div>
</body>
</html>